<div id="bg">
	<%= javascript_include_tag "index" %>

	<%= image_tag "bg.jpg", :class => "bg-img" %>

	<div id="wrap" class="center">

		<a href="#" class="button button-desc button-dark button-rounded" id="create-button">
			<div>Create<span>a <b>new</b> video lobby</span></div>
		</a>

		<a href="#" class="button button-desc button-dark button-rounded" id="join-button">
			<div>Join<span>an <b>existing</b> lobby</span></div>
		</a>
		
		<%# CREATE %>
		<div id="create-form" class="promo promo-dark promo-mini promo-center topmargin-lg bottommargin-lg hide-form">

			<%= form_for :sessions, url: sessions_path do |f| %>
				<p><%= f.text_field :id, placeholder:"Enter the youtube video ID", id:"text-field" %></p>
				<p><%= f.submit "Create Lobby", class: "button button-rounded button-dark" %></p>
			<% end %>
		</div>

		<%# JOIN %>
		<div id="join-form" class="promo promo-dark promo-mini promo-center topmargin-lg bottommargin-lg hide-form">

			<%= form_for :sessions, url: join_submit_path do |f| %>
				<p><%= f.text_field :id, placeholder:"Ask the lobby master for the ID to join!", id:"text-field" %></p>
				<p><%= f.submit "Join Lobby", class: "button button-rounded button-dark" %></p>
			<% end %>
		</div>

	</div>
</div>