<div id="bg">
	<%= javascript_include_tag "index" %>

	<%= image_tag "bg.jpg", :class => "bg-img" %>

	<div id="wrap" class="center">

		<%= image_tag "divid-io.png", :class => "header-img" %>
		<div class="clear"></div>

		<a href="javascript:void(0)" class="button button-desc button-dark button-rounded" id="create-button">
			<div>Create<span>a <b>new</b> video lobby</span></div>
		</a>

		<a href="javascript:void(0)" class="button button-desc button-dark button-rounded" id="join-button">
			<div>Join<span>an <b>existing</b> lobby</span></div>
		</a>


		<%# CREATE %>
		<div id="create-form" class="well promo promo-dark promo-mini promo-center topmargin-lg bottommargin-lg hide-form">


			<%= form_for @session, url: sessions_path, html: { multipart:true } do |f| %>
				<p class="nobottommargin"><%= f.text_field :channel_name, placeholder:"e.g. 'potato'", id:"text-field" %>
				<p style="color:white;" class="notopmargin">Enter a unique channel name</p>
				<p><%= f.file_field :video, class: "upload-field" %></p>
				<p class="nobottommargin"><%= f.label "# of people", style: "color:white;" %>
				<%= f.number_field :num_people, placeholder:"How many people are watching?", id:"text-field", class: "num-field" %></p>
				<p style="color:white;" class="notopmargin"><span style="color:#3399CC">*</span> Currently, only 2 and 4 devices allowed.</p>
				<p><%= f.submit "Create Lobby", class: "button button-rounded button-dark" %></p>
			<% end %>
		</div>

		<%# JOIN %>
		<div id="join-form" class="promo promo-dark promo-mini promo-center topmargin-lg bottommargin-lg hide-form">

			<%= form_for @session, url: join_path do |f| %>
				<p class="nobottommargin"><%= f.text_field :channel_name, placeholder:"e.g. 'potato'", id:"text-field" %></p>
				<p style="color:white;" class="notopmargin">Ask channel creator for the name</p>
				<p><%= f.submit "Join Lobby", class: "button button-rounded button-dark" %></p>
			<% end %>
		</div>

		<div class='bottommargin-lg'>&nbsp;</div>
		<div class='bottommargin-lg'>&nbsp;</div>
		<div class='bottommargin-lg'>&nbsp;</div>

	</div>
</div>
