<div class="promo promo-border promo-center bottommargin topmargin-lg">
	<h2>Enter the <span>channel ID</span> that you wish to join</h2>

	<%= form_for :sessions, url: join_submit_path do |f| %>
		<%= f.label :id, "Channel ID" %>
		<%= f.text_field :id %>
		<%= f.submit "Join Lobby", class: "button button-rounded button-dark" %>
	<% end %>

	<h4><small>The channel ID is what you will use to join the video lobby</small></h4>

	<%= link_to lobby_path do %>
		On form submission, join lobby
	<% end %>
</div>
