<div class="topmargin-lg center bottommargin">
	<h1>Welcome to the lobby</h1>
  <p class="para">Your video id: <%= @video_id %></p>
	<p class="para">The canvas below shows friends who have joined your lobby.</p>
	<p class="para">Drag and drop the rectangles (representative of screen size) to your desired configuration.</p>
	<p class="para">Click "Stream" to play video.</p>

  <div class="video-wrapper">
    <div class="video-responsive">
      <video class="video stanko-video" muted>
        <source src="http://www.quirksmode.org/html5/videos/big_buck_bunny.webm" type="video/webm">
      </video>
      <canvas class="canvas stanko-canvas"></canvas>
      <div class="stanko-timeline">
        <div class="stanko-timeline-passed"></div>
      </div>
    </div>
  </div>

	<div style="border-style:solid; width:auto; height:500px;">
		Canvas goes here
	</div>

	<button class="button button-xlarge button-rounded button-dark">Stream</button>

  <%= javascript_include_tag "stanko" %>

  <script>
    var canvasVideo = new CanvasVideoPlayer({
        videoSelector: '.stanko-video',
        canvasSelector: '.stanko-canvas',
        timelineSelector: '.stanko-timeline',
        framesPerSecond: 25,
        hideVideo: true,
        audio: true, // can be true/false (it will use video file for audio), or selector for a separate audio file
    });
  </script>

  <%= javascript_include_tag "http://cdn.pubnub.com/pubnub.min.js" %>
  <%= javascript_include_tag "videosync" %>
  <script>
    // var rand = Math.random().toString();
    //
    // var vidSync = new VideoSync("<%= @video_id %>1", "Player" + rand);
    //
    // var player;
    //
    // function onYouTubeIframeAPIReady() {
    //   player = new YT.Player('player', {
    //     height: '600',
    //     width: '600',
    //     videoId: "<%= @video_id %>",
    //     playerVars: playerVars,
    //     events: {
    //       'onReady': vidSync.onPlayerReady,
    //       'onStateChange': vidSync.onPlayerStateChange
    //     }
    //   });
    // }
  </script>
</div>
