<div class="topmargin-lg center bottommargin">
	<h1>Welcome to the lobby</h1>
  <p class="para">Your video id: 5</p>
	<p class="para">The canvas below shows friends who have joined your lobby.</p>
	<p class="para">Drag and drop the rectangles (representative of screen size) to your desired configuration.</p>
	<p class="para">Click "Stream" to play video.</p>

  <%= javascript_include_tag "http://cdn.pubnub.com/pubnub.min.js" %>
  <%= javascript_include_tag "videosync" %>
	<%= javascript_include_tag "stanko" %>



  <div>
    <%= video_tag @session.video, controls: true %>
  </div>

  <div>
    <%= image_tag @session.image %>
  </div>

  <script>
    var rand = Math.random().toString();

    var vidSync = new VideoSync("<%= @video_id %>", "Player" + rand);

		var player = new CanvasVideoPlayer({
			videoSelector: '.js-video',
			canvasSelector: '.js-canvas',
			timelineSelector: '.js-timeline',
			audio: true,
			PBonPlayerReady : vidSync.onPlayerReady,
			PBonPlayerStateChange : vidSync.onPlayerStateChange
		});

  </script>

  <div class="clear"></div>

  <canvas id="phoneCanvas" style="width:auto; height:500px; border: 2px solid black;">
  </canvas>

  <div class="clear"></div>

	<button class="button button-xlarge button-rounded button-dark">Stream</button>
  <script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  </script>
</div>
