<div class="promo promo-border promo-center bottommargin topmargin-lg">
	<h2>Enter the youtube <span>video ID</span> into the textbox below</h2>

	<%= form_tag do %>
		<%= label_tag(:id, "Video ID") %>
		<%= text_field_tag(:id) %>
		<%= submit_tag("Create Lobby", class: "button button-rounded button-dark") %>
	<% end %>

	<h4><small>Not sure how to find the ID? Find out <a href="http://lmgtfy.com/">here</a>.</small></h4>

	<%= link_to join_session_path do %>
		On form submission, join lobby
	<% end %>
</div>