<!DOCTYPE html>
<html>
<head>
  <title>VidSyncPrototype</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="stretched divcenter" style="background-color:#F0F0F0; width:95%;">

	<%= yield %>

	<%= javascript_include_tag "https://cdn.pubnub.com/pubnub-dev.js" %>
	<%= javascript_include_tag "pubnub" %>
	<%= javascript_include_tag "vidsync_source" %>

</body>
</html>
